Makefile

CMakeCache.txt
CMakeFiles

/mconf-idf-prefix/
/esp-idf/
/config/
/bootloader/
/kconfig_bin/
/output/

/app-*
/bootloader-*
/partition_table*
/ldgen_*
/flash_*
/flasher_*
/project_description.json
/kconfigs*
/sdkconfig
/sdkconfig.old
/config.env
/cmake_install.cmake
/compile_commands.json

/.bin_timestamp
/project_elf_src.c

/*.bin
/headband.elf
/headband.map

*.bak
/x509_crt_bundle.S
